* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(255, 255, 255);
}
.logo {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.603));
}
.main {
  padding: 2em 0;
  background: linear-gradient(#292843, #0e0013);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
  margin: 10% 10%;
  -webkit-appearance: none;
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  box-shadow: 0 0 10px rgba(57, 9, 66, 0.877);
  background: linear-gradient(
    90deg,
    #1f1f1f,
    #870000,
    #3b0000da
  ); /* Grey background */
  border-radius: 2em;
  border: 1px solid #8d0000;
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: url(Slidebar.png);
  filter: drop-shadow(0 0 10px yellow);
  border-radius: 50%;
  /* border: 1px solid white; */
  background-size: contain; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
